form{
  width: 60%;
  margin: auto;

}

h1{
  text-align: center;
  font-family: 'AtlasGrotesk';
  color: orange;
  font-weight: bold;
  font-size: medium;
}

label{
  font-family: 'Brandon Grotesque';
  line-height: 1.5rem;
  font-size: x-small;
}

input{
  width: 20rem;
}

select{
 width: 20rem;
}

#button{
  text-align: right;
}
button{
  background-color: orange;
  color: white;
  border-radius: 30%;
  padding: .3rem;
  border: none;
  font-size: x-small;
  margin-top: .5rem;
}
