form{
  margin-left: 23%;
}

h1{
  margin-left: 25%;
  font-family: 'AtlasGrotesk';
  color: orange;
  font-weight: bold;
  font-size: medium;
}

label{
  font-family: 'Brandon Grotesque';
  line-height: 1.5rem;
  font-size: x-small;
}

button{
  background-color: orange;
  color: white;
  border-radius: 30%;
  padding: .3rem;
  margin-left: 30%;
  border: none;
  font-size: x-small;
}
