.container{
  max-width: 800px;
  margin: 0 auto;
}
.row{
  display: flex;
}
.column-one-half{
  width: 100%;
}
.column-one-half img{
  width: 100%;
}

.column-one-third{
  width: 100%;
}

.column-one-forth{
  width: 100%;
}
.column-one-forth img{
  width: 100%;
}
